div.floor
{
	 height:123px; 
}
div.floorSection
{
	height:120px;
	width:360px;
	background-color:#C0C0C0;
	border-bottom:solid #A0A0A0;
	position:relative;
	display:inline-block;
}

div.lift
{
	position:absolute;
	bottom:0px;
	left:135px;
	height:100px;
	width:90px;
	background-color:#A0A0A0;
}
div.leftDoor
{
	position:absolute;
	bottom:0px;
	left:135px;
	height:100px;
	width:45px;
	background-color:#B0B0B0;
}
div.rightDoor
{
	position:absolute;
	bottom:0px;
	left:180px;
	height:100px;
	width:45px;
	background-color:#B0B0B0;
	border-left:solid #A0A0A0;
}
div.liftDirectionIndicator
{
	position:absolute;
	bottom:102px;
	left:180px;
	width:15px;
	height:15px;
	background-color:#00A000;
}
div.currentFloorIndicator
{
	position:absolute;
	bottom:102px;
	left:163px;
	width:15px;
	height:15px;
	background-color:#00A000;
}
div.buttonPanel
{
	position:absolute;
	bottom:50px;
	left:105px;
}
div.button
{
	height:18px;
	width:20px;
	background-color:#700000;
}
div.pressed
{
	background-color:#FA0000;
}
div.person
{
	position:absolute; 
	bottom:0px;
	height:80px;
	width:20px;
	background-color:#FFFF66;
	z-index:1;
}
div.personWaiting0
{
	left:227px;
}
div.personWaiting1
{
	left:249px;
}
div.personWaiting2
{
	left:271px;
}
div.personWaiting3
{
	left:293px;
}
div.personWaiting4
{
	left:315px;
}
div.personInLift0
{
	left:2px;
}
div.personInLift1
{
	left:24px;
}